/* html, body{
    padding: 0px;
    margin: 0px;
} */




body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    /* flex: 1; */
}

.container{
    
    display: flex;
    width: 70vw;
    /* flex-direction: column; */
}

.panel{
    background-color: red;
    flex: 0.1;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    cursor: pointer;
    position: relative;
    margin: 5px;
    border-radius: 20px;
    /* transition:flex 1s ease-in; */
    
    transition: flex 1s ease-in, background-size 2s ease-in; /* Transition for both flex and background-size */

}
/* .panel:hover {
    flex: 1;
    background-size: auto 120%;
  } */

h3 {
    position: absolute;
    bottom: 20px;
    color: beige;
    left: 10px;
    opacity: 0;
    margin: 0;
}

.panel.active{
    flex: 1;
    /* background-size: auto auto; */
}
.panel.active h3{
    opacity: 1;
}

@media (max-width:700px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(3), .panel:nth-of-type(4){
        display: none;
    }
}

